.DS_Store
.vscode
venv
SPEM_env
venv
.env

dlbp_scholar_matches.csv
ex1/__pycache__/
ex2/report_files/

.Rhistory

dlbp_scholar_matches.csv
__pycache__/
*.pyc
*.so
_cudacache/
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
ex3/report/report.pdf
